:root{
 --btn-color:rgb(240, 177, 99);   
}
::selection{
	display:none;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color:white;
}
.row{
  margin-right: 0px !important;
}

/* All Media Queries----------- */
@media(max-width: 991px){
  .sidebar{
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(4px);
  }
}

@media (max-width: 576px){
  .about h2{
    margin-top: 20rem;
  }
  
  
}

@media (max-width: 991px){
  .footer-area{
    margin-top: 15rem;
    
  }
}
@media (max-width: 576px){
  .footer-area{
    margin-top: 10rem;
    
  }
}

@media (max-width: 576px){
  .skills-wrapper{
    margin-top: 20rem;
  }
}
/* Media Queries End-------------- */
body{
    background-color: black;
    width: 100%;
}
.container-fluid{
    padding: 0 !important;
}


.nav-link{
    color: white;
    font-family: Montserrat;
    font-size: small;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
}
.header-wrapper .contact-btn{
    font-family: Montserrat;
    background-color: var(--btn-color);
    font-size: small;
    color: white;
    box-shadow: 1px 1px 15px black;
    transition: all .3s ease;

}
.header-wrapper .contact-btn:hover{
    color: var(--btn-color);
    background-color: white;
    transform: scale(1.15);
    box-shadow: 1px 1px 15px var(--btn-color);
    border:2px solid var(--btn-color);
    
}
.nav-link:hover,
.nav-item a.active
{
  color: var(--btn-color) !important;
}

.navbar-scrolled{
  background-color: black;
  transition: all .5s  ease-in-out;
  box-shadow: 0px 0px 10px var(--btn-color);
  
}

.header-wrapper .nav-item{
    margin-right:2rem;
}

.banner-wrapper{
    background-image:url(home\ banner.jpeg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    
    box-shadow: inset rgb(0, 0, 0) 0px -100px 100px;
    
}

.banner-wrapper h1{
    font-family: cinzel;
    font-size: 4rem;
    text-shadow: 2px 10px 9px black;
}

/* About Section */
.about{
    background-color: black;
    box-shadow: 1px 0px 400px rgb(0, 0, 0);
}
.about h2{
    color: var(--btn-color);
    font-family: Montserrat;
    font-weight: bolder;
}


.about-photo img{
  border-radius: 2rem;
 
}
.about-photo{
  border-radius: 2rem;
  transition: all .4s ease-in-out;
}
.about-photo:hover{
  box-shadow: 0px 0px 10px var(--btn-color);
 
}
/* Skills---------- */

.corner {
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--btn-color);
    border-radius: 0 4px 0 32px;
  }

  .card1 {
    display: block;
    color: var(--btn-color);
    position: relative;
    width: 19rem;
    height: 20rem;
    background:transparent;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 3px solid var(--btn-color);
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: var(--btn-color);
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.35s ease-out;
    }
  
    &:hover:before {
      transform: scale(30);
    }
  }
 .card-icons{
    color: var(--btn-color);
    transition: all .1s ease-in-out;
 }
  
  .card1:hover {
    p{
      transition: all 0.3s ease-out;
      color: rgba(0, 0, 0, 0.8);
      font-weight: bolder;
    }
    h3 {
      transition: all 0.2s ease-in-out;
      color: white;
      text-shadow: 0px 0px 10px black;
      
    }
    .card-icons{
        color: white;
        transition: all 0.4s ease-in;
    }
  }

 /* Skills Section */
 .skills-wrapper{
    background-color: black;
    position: relative;  
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.skills-wrapper h2{
    color: var(--btn-color);
    font-family: Montserrat;
    font-weight: bolder;
    margin-top: -1rem;
    
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-area{
  background-color: black;
  font-family: montserrat ;
  padding: 5.9rem 0;
}
.services-icon i {
  color: white;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.section-headline.services-head>h2 {
  margin-bottom: 25px;
  color: var(--btn-color);
  font-weight: bolder;
  
}

.services-details {
  padding-top: 40px;
  transition: all 0.3s ease 0s;
  
}
.services-details:hover{
  box-shadow: 0px 0px 20px var(--btn-color);
}

.services-details:hover h4,
.services-details:hover .services-icon i {
  color: var(--btn-color);
}

.row.second-row {
  margin-top: 40px;
}

.section-head>h2 {
  color: white;
}

.single-services>h4 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.single-services>p {
  color: white;
  font-size: 14px;
}
.services-area .download{
  background: var(--btn-color);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  font-weight: bolder;
  transition: 0.4s;
  border-radius: 4px;
  text-decoration: none;
}

.services-area .download:hover{
  color: var(--btn-color);
  background-color: white;
  transform: scale(1.5);
  box-shadow: 1px 1px 15px var(--btn-color);
  border:2px solid var(--btn-color);
  
}


/* ----------Team Section---------- */


.team h2{
  color: var(--btn-color);
  font-family: Montserrat;
  font-weight: bolder;
  
}
.team-photo{
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .3s ease;
}
.team-card {
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
  border: 1px solid var(--btn-color);
  height: 75%;
  margin-top: 2rem;
}


.team-card:hover {
  box-shadow:0px 0px 20px var(--btn-color);
  
  .team-photo{
    transform: scale(1.1);
    opacity: .5;
  }
  .overlay{
    opacity: 1;
    transform: translateY(0);
  }
  

}

.overlay {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(240, 177, 99,.8);
  color: #fff;
  font-family: Monsterrat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(30%);
}

/* ----------End Team Section---------- */



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item+.info-item {
  margin-top: 40px;
}
.contact{
  background-color: black;
  font-family: Montserrat;
}
.contact .info-item i {
  font-size: 20px;
  color: white;
  float: left;
  width: 44px;
  height: 44px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}
.contact h2{
  color: var(--btn-color);
  font-weight: bolder;
}
.contact .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.contact .info-item:hover i {
  background: white;
  box-shadow: 1px 1px 15px var(--btn-color);
  color: var(--btn-color);
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}





.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-primary);
  border-top-color: var(--color-secondary);
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid var(--btn-color);
  color: black;
  font-weight: bolder;

}





.contact .email-form button[type=submit] {
  background: var(--btn-color);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  font-weight: bolder;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  color: var(--btn-color);
    background-color: white;
    transform: scale(1.15);
    box-shadow: 1px 1px 15px var(--btn-color);
    border:2px solid var(--btn-color);

}

/* Footer ------------------- */

.footer-area{
  background-color: var(--btn-color);
  color: white;
  height: 10vh;
  font-size: 1.2rem;
  font-family: montserrat;

}

/* The progress container (grey background) */
.progress-container {
  width: 8px;
  height: 100%;
  background: transparent;
  left:99%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 0%;
  background: var(--btn-color);
  width: 8px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px white;
}

body::-webkit-scrollbar {
  display: none;
}






